*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #41B3A3;
  text-align: center;
}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: green;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

p{
  position: absolute;
  bottom: 0;
  left: 50%; 
  transform: translateX(-50%);
  color: purple;
  font-weight: bold;
  font-family: sans-serif;
}
button{
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background: none;
  border: 1px solid blue;
  border-radius: 50%;
  cursor: pointer;
}